@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Libre Franklin", sans-serif;
}

:root {
  --PaleBlue: hsl(223, 100%, 88%);
  --Gray: hsl(0, 0%, 59%);
  --Blue: hsl(223, 87%, 63%);
  --VeryDarkBlue: hsl(209, 33%, 12%);
  --LightRed: hsl(354, 100%, 66%);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header > img {
  height: 20px;
  width: 60px;
  margin-bottom: 1rem;
}

header {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

h1 {
  font-weight: 300;
  color: var(--Gray);
}

span {
  font-weight: 700;
  color: var(--VeryDarkBlue);
}

h3 {
  font-weight: 300;
  color: var(--VeryDarkBlue);
  font-size: medium;
  margin-bottom: 1rem;
}

input {
  width: 333px;
  color: var(--Gray);
  height: 39px;
  border-radius: 50px;
  border: 1px solid var(--Gray);
}

input:focus {
  border: 1px solid var(--Gray);
}

::placeholder {
  padding: 5px;
}

button {
  height: 39px;
  border-radius: 50px;
  width: 125px;
  border: none;
  color: white;
  background: var(--Blue);
  box-shadow: 0px 5px 10px var(--PaleBlue);
  cursor: pointer;
}

.visible {
  color: var(--LightRed);
  font-size: 12px;
  text-align: start;
  font-weight: 600;
}

.unvisible {
  display: none;
}

img {
  width: 600px;
  margin-bottom: 10px;
}
